[2021-04-27 09:13] Dzoukr opened #1 "Idea - take advantage of existing OpenAPIParser"
Hello friend, I am looking forward to what your next awesome thing will be. When I saw you're working with OpenAPI, I was thinking: maybe take a look at the existing F# parser lib I did some time ago: https://github.com/Dzoukr/OpenAPIParser

It has some limits but it can easily parse yaml (or json) into definition https://github.com/Dzoukr/OpenAPIParser/blob/master/src/OpenAPIParser/Version3/Speci

[2021-04-27 10:59] Zaid-Ajaj commented on #1
Hi Roman, I actually checked out your parser a while ago and I really like the [SchemaDefinition](https://github.com/Dzoukr/OpenAPIParser/blob/master/src/OpenAPIParser/Version3/Specification.fs#L46-L62) but [OpenAPIParser#2](https://github.com/Dzoukr/OpenAPIParser/issues/2) is a real blocker for me because of the missing `anyOf`, `oneOf` definitions 😢

For now I am going with [Microsoft.OpenApi.Re

[2021-04-27 11:55] Dzoukr commented on #1
Damn... I should finish the `anyOf` and `oneOf` then 😄

[2021-04-27 12:00] Zaid-Ajaj commented on #1
That would be awesome 😍

[2021-05-06 18:16] Numpsy opened #3 "OpenApi schema field descriptions containing new lines"
Hi,

A small possible issue I noticed by accident when testing something.

Say that I have an OpenApi schema that contains something like

[code]
Then i get this for the generated type

![image](https://user-images.githubusercontent.com/1178570/117345754-d0700480-ae9e-11eb-9da5-80202ad29cca.png)

Which looks like the doc comment has been split over two lines, when I guess it should be collapsed in

[2021-05-06 19:10] Zaid-Ajaj commented on #3
Hi @Numpsy this should be an easy fix I think. We can split the description over multiple lines.

It would be awesome if you could share the schema you have or an anonymised version of it where you rename fields or remove descriptions. It would make for a good example to test this project with since I don't have proper sNSwag schema's to work with.

[2021-05-06 21:34] #3 closed

[2021-05-08 22:12] Numpsy commented on #3
fwiw, those 'multi line' descriptions appear to be created in the same way by Swashbuckle to, so not NSwag specific (Those are the only two libs i've tried using to generate schemas from a service, so I can't comment on other languages).

I'll have a look at what I can do with the schema (or maybe see about creating a sample project with functions of a similar shape) - I was thinking of adding som

[2021-05-08 22:35] Zaid-Ajaj commented on #3
As for allOf and anyOf, I am aware of this problem and will tackle it soon, already setting up a specialized JSON converter to be generated types alongside the client project.

Will be looking forward to your samples schemas 🙏

[2021-05-09 15:16] Numpsy commented on #3
fwiw, I put a couple of (very) simple schemas at https://github.com/Numpsy/OpenApiExample/tree/default/generated that show how Swashbuckle and NSwag use a differing approach to allOf for subtypes (NSwag includes base/subtypes in the schema by default, where Swashbuckle merges everything into one object unless configured otherwise.), and also shows a bit of extra metadata that NSwag includes for en

[2021-05-09 15:50] Zaid-Ajaj commented on #3
Thanks a lot for the example schemas 🙏 I think I can make the integer enums work with the generator. As for `allOf`, I think merging the properties will be the best approach by default since F# records don't like inheritance

[2021-05-09 15:51] Zaid-Ajaj commented on #3
More complicated schemas are also welcome for testing :)

[2021-05-10 09:10] Zaid-Ajaj commented on #3
Hi @Numpsy as of latest source, enum types (with enum names), enum flags (without names) and `allOf` references are handled (for inheritance). Please give it a try and see if I missed something other than `oneOf` and the client generation

[2021-05-10 15:58] Numpsy commented on #3
I had a go earlier, and the integer enum types were generated, and derived classes looked to contain the full set of properties.

By ```oneOf``` do you mean the way that properties defined with oneOf in the schema are typed as ```string``` in the generated records rather than the referenced type?

[2021-05-10 16:35] Zaid-Ajaj commented on #3
By one of I mean the way by which OpenAPI describes that something is one of multiple types such as Foo or Bar  which ideally should be turned into discriminated unions of each case but I am not there yet

[2021-05-10 17:20] Numpsy commented on #3
Ah ok.

NSwag will sometimes generate single case ```oneOf``` cases like

https://github.com/Numpsy/OpenApiExample/blob/5cd12fc5803bb721c5dccd1795aa414bba02b5ff/generated/OpenApiExample.NSwag.json#L154

So my previous comment was referring to a case I saw where the schema is something like

[code]

and Hawaii generated

[code]

rather than ```Option<Thing>``` (no need for a union when there is onl

[2021-05-10 21:04] Zaid-Ajaj commented on #3
Yeah oneOf with a single type is just that type. The reason you are getting Option<string> is because I haven't implemented what the generator should do ;) it is good to know that we are close to the limitations of NSwag in terms of type codegen. I will be implementing the client soonish

[2021-05-16 15:19] sergey-tihon opened #4 "Testing with APIs.guru"
Here (https://apis.guru/browse-apis/) you can find about 3.6k different real-world schema definition that you can use for testing.

This https://api.apis.guru/v2/list.json json captains catalog of schema urls with version information.
You can read it, choose schemas that you like and run Hawaii on these schemas

Some code may be reused from [here](https://github.com/fsprojects/SwaggerProvider/blob

[2021-05-16 18:42] Zaid-Ajaj commented on #4
Thanks a lot @sergey-tihon 🙏 the catalog of schema urls will be great for testing. Let's see what rabbit hole of edge cases I will find 😄

[2021-06-27 15:39] isaacabraham opened #5 "Fails on Application Insights Open API spec"
Tested [this](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/workbooks_API.json) URI out.

Hawaii correctly generates a project with some types; however, the project does not build with several errors e.g.

[code]

`WorkbookProperties` does not appear to be a oneOf case from what I can see.

[2021-06-27 15:56] Zaid-Ajaj commented on #5
Hi @isaacabraham thanks for trying it out! I will try to see why the type isn't generated correctly

[2021-06-27 20:00] isaacabraham commented on #5
Hope that this is useful - happy to continue testing it out :-)

[2021-06-27 20:11] Zaid-Ajaj commented on #5
I found out the problem with the error `The type 'WorkbookProperties' is not defined` and it was an easy fix but another big problem came into light which is that external type definitions as references were not resolved, i.e. things like
[code]
Which is blocked by [OpenAPI.NET/issues/609](https://github.com/microsoft/OpenAPI.NET/issues/609)

Right now, I am trying to workaround it by preprocessin

[2021-06-27 23:48] #5 closed

[2021-06-27 23:52] Zaid-Ajaj commented on #5
Hi @isaacabraham this was a bit of a rollercoaster 😅 I think I got it correctly now. As of Hawaii v0.2.0 I've implemented a resolution mechanism for external references using relative paths (option `resolveReferences: true`). Also added some improvements regarding parameter naming and default responses which AppInsights seems to be using a lot.

Can you please update Hawaii to 0.2.0 like this
[cod

[2021-06-28 09:59] isaacabraham commented on #5
Compiles!

[2021-06-28 10:03] isaacabraham opened #6 "$expand element created"
Sample URI 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2021-04-01/storage.json'. Generates code that contains the following:

[code]

[2021-06-28 10:28] #6 closed

[2021-06-28 10:30] Zaid-Ajaj commented on #6
Thanks for the issue report! Fixes as of v0.3.0 🚀 should be available from nuget in a minute.

The parameter names are normalized but their values are persisted, meaning you get this
[code]
The same is already happening for `api-version` which becomes `apiVersion` 😉

[2021-06-28 21:44] Zaid-Ajaj commented on #4
Added this as part of the build project to generate and build the first `n` schemas from the API guru catalog where `n = 20` right now:
[code]
Thanks again @sergey-tihon :heart:

[2021-06-28 21:44] #4 closed

[2021-06-28 21:48] Zaid-Ajaj commented on #1
Sorry Roman, the project got pretty tied to the OpenAPI reader API (since I really needed their customized [external resource loader](https://github.com/Zaid-Ajaj/Hawaii/blob/master/src/Program.fs#L1800-L1820) functionality) thanks again for the suggestion.

If you happen to have an OpenAPI service to test hawaii against, would be happy to hear how it turns out 😉

[2021-06-28 21:48] #1 closed

[2021-06-29 07:19] Dzoukr commented on #1
No problem at all, my friend! I admire your ability to turn a proof-of-concept into production stuff so quickly! 💪🎉

[2021-06-29 13:06] Numpsy opened #10 "Possible type generation issue"
Hi,

An observation from looking at some generated code (I haven't had chance to look at it in any detail, it's just something I spotted).

I have a schema (generated by NSwag from an ASP.Net Core service) which contains this snippet in the components section:

[code]

(```ProblemDetails``` and ```ValidationProblemDetails``` are classes built into ASP for error reporting fwiw, where the latter is

[2021-06-29 13:31] Zaid-Ajaj commented on #10
Yeah it is because of
[code]
which basically is saying: "this type is a dictionary where the values are anything"

I agree that this is _probably_ not what you want. Can you please paste the full schema for me test with and try to make a nicer output out of this edge case? (I will ignore additionalProperties when it is not typed _and_ has typed properties)

[2021-06-29 14:08] Numpsy commented on #10
The full schema is quite large and is from a product at work that I might not be able to publish in full, but i'll attach a minimal one that I just generated from an ASP/Swashbuckle test app - [swagger.txt](https://github.com/Zaid-Ajaj/Hawaii/files/6733960/swagger.txt) - that also generates Maps.

Running this one through Hawaii actually generates two map types rather than one map and one custom t

[2021-06-29 15:33] #10 closed

[2021-06-29 15:35] Zaid-Ajaj commented on #10
Fixed as of Hawaii v0.11.0 🚀 the schema you sent now generates these
[code]
Can you give it a try on your bigger NSwag schema and see if the problem is resolved?

[2021-06-29 17:18] Numpsy commented on #10
It looks ok in the new version :-)

[2021-07-04 18:58] Zaid-Ajaj opened #11 "Implement better handling of mixed responses for JSON and binary"
Sometimes an operation will return either byte[] in the OK case or will return typed objects (formatted as JSON) in the other cases:
[code]
Right now, the client implementation looks like this
[code]
Where the HTTP `content` is `string` at first but using `System.Text.Encoding.UTF8.GetBytes` to convert it back `byte[]`
This is not ideal, instead it should start with `byte[]` in default case and on

[2021-07-09 12:10] #11 closed

[2021-07-09 19:15] JonCanning opened #12 "System.NullReferenceException"
This is an exciting project so I thought I would try it out with my client's API but, alas, it fails:

[code]

[2021-07-09 20:36] #12 closed

[2021-07-09 20:44] Zaid-Ajaj commented on #12
Hi there @JonCanning thanks a lot for reporting the issue! You have a very interesting schema where lots of parts are missing. For example. here is the `GraphsPie` object
[code]
The property `element` has type `array` but doesn't say array of what underlying type 😅 so I had to tell Hawaii to find defaults for these edge cases. In this it generates the following type
[code]
Which is as generic as i

[2021-07-09 21:06] Zaid-Ajaj commented on #12
It seems that there is a problem with generating payload types for request JSON bodies, right now they are defaulting to `payload: string` which is incorrect. For example:
[code]
It should be
[code]

[2021-07-09 21:10] Zaid-Ajaj opened #13 "Generate proper payload types from loose request body objects"
cc @JonCanning

It seems that there is a problem with generating payload types for request JSON bodies, right now they are defaulting to `payload: string` which is incorrect. For example:
[code]
It should be
[code]

_Originally posted by @Zaid-Ajaj in https://github.com/Zaid-Ajaj/Hawaii/issues/12#issuecomment-877456104_

[2021-07-09 22:55] #13 closed

[2021-07-10 12:21] JonCanning commented on #12
Thanks for looking at this. In the generated client I have to change this on line 258

`use request = new HttpRequestMessage(RequestUri=requestUri, Method=method)`

to a `let` binding otherwise I get  a `System.ObjectDisposedException`

Here's an example:

[code]

[2021-07-10 12:29] Zaid-Ajaj commented on #12
I will change it in the next version, thanks for testing it out :)

[2021-07-12 15:18] Numpsy opened #15 "Integer OverflowException when deserializing an int64 whose value is too large to fit in an int32"
Hi,

I have an OpenApi schema whose return types include some Integer type fields that have a format of int64.
The Hawaii code generator generates client properties of type int64, but if I try to call the server function and it returns a value which is too large to fit in an int32, then I get this:

![image](https://user-images.githubusercontent.com/1178570/125311140-1926bc80-e32b-11eb-863d-ce7111

[2021-07-12 15:43] Zaid-Ajaj commented on #15
Hi there @Numpsy that's an interesting issue. Do you have a piece of the JSON string that you were trying to deserialize for me? I'll have a go at it

[2021-07-12 16:15] Zaid-Ajaj commented on #15
BTW, I must have overlooked your issue on recognizing the `Long` custom type by Snowflaqe into `int64`. It should be easy to have it built-in

[2021-07-12 16:32] #15 closed

[2021-07-12 16:33] Zaid-Ajaj commented on #15
Should be fixed in v0.29 can you give a try and confirm the fix?

[2021-07-12 17:16] Numpsy commented on #15
Thanks, my case looks ok now :-)

(/sorted in the time I spent watching an F# intro on the .net docs docs, /has much to learn! :-))

[2021-07-12 17:55] Zaid-Ajaj commented on #15
Yeah I was fixing it while listening to .NET docs in the background xD

[2021-07-29 08:08] tforkmann opened #17 "Object reference not set to an instance of an object. in create type abbreviation for array type"
Hi Zaid,

i tried out Hawaii! Pretty cool stuff.

I found one bug in a special OpenAPI from cumulocity (https://cumulocity.com/api/dist/c8y-oas.json)

If you don't have a items inside the topLevelObject if the type is array then Hawaii will fail with a `Object reference not set to an instance of an object` error.

Hawaii will fail here:
https://github.com/Zaid-Ajaj/Hawaii/blob/0fd4e30d05a48bf238d3

[2021-07-29 08:28] Zaid-Ajaj commented on #17
Hi there Tim, I will take a look at the schema. It seems like sometimes the schema says "this is an array" without telling what the type of the underlying elements are 😞 so it has to be something generic like `JArray` (dotnet) or `obj array` (Fable)

Is this the only issue you have? I see in the schema that it uses a schema media type "application/vnd.com.nsn.cumulocity.retentionrule+json" when de

[2021-07-29 08:56] tforkmann commented on #17
Will do!

[2021-08-10 17:22] travis-leith opened #18 "feature request: create methods with optional parameters"
Instead of

[code]

How about
[code]

That way I can create with only the values that I need, very easily.

[2021-08-10 19:03] Zaid-Ajaj commented on #18
Hi @travis-leith, I can probably add that as a configuration option but I don't get why the the current approach doesn't work for you.

You can easily create the type and apply the values in one go
[code]

[2021-08-10 19:58] travis-leith commented on #18
I suppose the only benefit is slightly more compact code.
Thinking about it again, not even sure why I discounted the current approach in the first place :confused:
Perhaps consider this a low priority or, feel free to close this issue with no hurt feelings on my side :relaxed:

[2021-08-10 20:08] travis-leith opened #19 "Question: Why does my generated type have a member of type `string option` instead of `ActualType option`?"
I generated with the schema: "https://selectapi.datascope.refinitiv.com/RestApi/v1/Authentication/$metadata".

One of the types that is generated is
[code]

but it should be
[code]

Looking at the `--from-odata-schema` output, I see a few cases of `anyOf`, and I see from the readme section that anyOf is not supported.

Is the current absence of support the reason these types get represented as str

[2021-08-10 20:09] Zaid-Ajaj commented on #18
I would like to keep configuration options to a minimum and not overcomplicate the codebase so if the current approach is not problematic or annoying, we keep it for the time being 😄

I'll close this issue for now, if there is anything else that I can help with, just let me know

[2021-08-10 20:09] #18 closed

[2021-08-10 20:14] Zaid-Ajaj commented on #19
That's right, when a property can't be resolved to anything known, it defaults to string. In case of these anyOf types, I think it should be possible to fix it when there is only one element in the anyOf definition and reduce the anyOf away from there

i.e. { anyOf: [ someType ] } gets reduced to { ...someType }

Will give it a try sometime soon

[2021-08-10 21:08] Zaid-Ajaj commented on #19
Fixed as of Hawaii v0.42 🚀 can you please give it a try? Let me know how it goes 😄

[2021-08-11 00:04] #17 closed

[2021-08-11 00:05] Zaid-Ajaj commented on #17
Fixed as of Hawaii v0.43 🚀 @tforkmann can you give it a try? Let me know how it goes

[2021-08-11 09:13] travis-leith commented on #19
works, thank you.

[2021-08-11 09:23] travis-leith opened #20 "CLI problems"
noticed some issues with the CLI

`--version` reports the [wrong number](https://github.com/Zaid-Ajaj/Hawaii/blob/135e1643af2c573e5da8aad23fb072cab0429902/src/Program.fs#L3109)

I tried to use `--show-tags` with `--config`, which did not work but [I see now](https://github.com/Zaid-Ajaj/Hawaii/blob/135e1643af2c573e5da8aad23fb072cab0429902/src/Program.fs#L3144) that it expects a file path without a

[2021-08-11 09:37] #20 closed

[2021-08-11 09:40] Zaid-Ajaj commented on #20
Thanks for the raising the issue 🙏 I knew I had forgot something with `--version` 😅 Just fixed that as of v0.44 as well as making `--show-tags` consistent with `--config`.

Not a big fan tbh, I like the simplicity of just by pattern matching against an array of strings. For now, I want to keep it as such but might reconsider it another time

[2021-08-11 10:37] travis-leith commented on #19
I think I have found an opportunity for further improvement on this idea.
I have encountered the following

[code]

which gets represented as `string option`. Would it be possible to extend what you have done to cater for `anyOf` _**lists**_ of a single type?

[2021-08-11 11:08] tforkmann commented on #17
Amazing!! Works :D 🚀 Thanks, Zaid!

[2021-08-11 11:16] Zaid-Ajaj commented on #19
Hmm can you please elaborate on this issue because that is exactly the case that I fixed previously: anyOf/oneOf a single type gets resolved into that type 🤔

If you can provide me with a schema to test with, it would be great!

[2021-08-11 11:34] travis-leith commented on #19
The schema I am currently looking at is "https://selectapi.datascope.refinitiv.com/RestApi/v1/Extractions/$metadata".
It is a very large schema unfortunately.

One of the difficulties seem to be the use of the following empty entity

[code]

as part of some sort of inheritance setup or something, which results in the following generated type

[code]

We also have the following
[code]

which result

[2021-08-11 11:36] travis-leith commented on #19
If this is solvable, I expect that it might involve the generation of marker interfaces or an abstract class. But I see no way of inferring that `EntityIdentifierList` inherits from `SubjectIdentifierList`, which I am guessing it in fact does.

[2021-08-11 11:51] Zaid-Ajaj commented on #19
@travis-leith I will take a look. Empty object definitions are a bit weird to work with but there is an option to generate a type alias from it:

"empty definitions": "free-form"

Can you try it out?

As for IdentifierList being resolved to option, that sounds like another problem 🤔 just in case if you update Hawaii to latest v0.44 it might solve the problem but it's a shot in the dark

[2021-08-11 12:05] travis-leith commented on #19
After upgrading to 0.44, and setting free-form, I get the following alias

[code]

but that alias is not used in

[code]

[2021-08-11 13:04] Zaid-Ajaj commented on #19
I think I have solved the issue now as of v0.45 which expands the schema reduction. Can you give it try again?

[2021-08-11 13:27] Zaid-Ajaj commented on #19
One thing that I really dislike right now with odata code-gen is the really long type names, not sure how to tackle that in a reliable way

[2021-08-11 14:46] Zaid-Ajaj commented on #19
Yeah that makes _really_ complicated (even more than they are right now)

[2021-08-11 15:30] travis-leith commented on #19
What gets more complicated, the generated code, or the generating code, or both?
I realize it is one thing to propose 'solutions', but an entirely more difficult thing to implement them, however:

How about you name it from the last dot : `TermsAndConditionsExtractionRequest` and if there is a conflict then you go up a level to
[code]

[2021-08-11 16:24] travis-leith opened #21 "How to get the "@odata.type" entries in the serialized content?"
As is, the generated code creates a body that looks something like this

[code]

But the API I am using will only work if I POST it something like this

[code]

For reference the API I am using is found at "https://selectapi.datascope.refinitiv.com/RestApi/v1/Extractions/$metadata"

[2021-08-11 16:35] Zaid-Ajaj commented on #19
Generating the code becomes a lot more difficult, but will think about it nonetheless. Using type aliases should be easy enough for consumers now

[2021-08-11 16:39] Zaid-Ajaj commented on #21
Hmm this could be a bit problematic. Is this the same for every OData service?

[2021-08-11 17:52] travis-leith commented on #21
I don't know if this requirement is universal, unfortunately.
I see that there are multiple types that all look the same, and would all have the same json representation as above, just with a different name.

Maybe the solution is to have a serializer with a srtp constrained to have a member `OdataType: string option`. The serializer then injections this string into the json if it exists.

Not sur

[2021-08-11 19:37] Zaid-Ajaj commented on #21
I think I can actually workaround it but it might need some extra work. Will keep you posted 😉

[2021-08-11 20:33] Zaid-Ajaj commented on #21
Fixes as of v0.46 where `@odata.type` are automatically added to the request and their values are statically populated in the `Create` functions. Can you give this another type?

[2021-08-11 21:13] travis-leith commented on #21
I copied over the new type defs to my testing project.
For some reason the odata.type is not making it into the serialized string.
Also if, from visual studio, I debug and hit Shift+f9 to quick inspect, I do not see the field there. Could be related?
I do see the field if I `printfn "%A"`.

[2021-08-11 21:18] travis-leith commented on #21
Would it be too hacky to use the exact same solution, but instead call the field `AtOdataType` and then do some sort of string search and replace after serialization to correct the name? Only downside (other than being a bit hacky) is that if someone wanted to use that as an actual field name it would break.

[2021-08-11 21:21] Zaid-Ajaj commented on #21
Are you constructing the instance using the `Create` function? Because the only reason the field wouldn't be available in the JSON would be if the value was `None` 🤔 I'll do some testing myself. It's really weird that it isn't coming up in the JSON 😓

Yeah it sounds too hacky, this current solution looks hacky in itself tbh 😅

[2021-08-11 21:31] travis-leith commented on #21
Just tested the hacky solution, and it worked. Which suggests the problem is with the serializer.

[2021-08-11 21:35] travis-leith commented on #21
Also, setting a value to None, leads to the JSON being `"field" = null`, which might be a problem itself, at least for the API I am testing against. Will do further testing to verify and open another issue if needed.

[2021-08-11 21:40] Zaid-Ajaj commented on #21
The serializer seems to be the problem for some reason 😓 will look into it tomorrow again

[2021-08-12 09:32] travis-leith opened #22 "Remove (or have an option to remove) null/None values in the serialized content"
I am working with an API that complains about an incorrect date format on an optional field because the body contains something like `"datefield": null`

If I comment out fields that I don't use so that they don't appear in the json, then it works fine.
Would be good to be able to suppress the serialization of null/None values.

Edit: the date format error is not the only error. This happens even

[2021-08-12 10:34] travis-leith commented on #22
For me this is a simple as changing a line to
[code]

Not sure if this would be universally acceptable so it may be better to make it a config option.

[2021-08-12 12:33] travis-leith commented on #21
Is this useful at all? https://stackoverflow.com/questions/26820275/how-to-deserialize-odata-json

[2021-08-12 13:18] travis-leith opened #23 "Some OData responses need to be wrapped in a special OData type"
Similar to #21, most OData responses come back with a field `odata.context`.

So we need a generic type

[code]

and instead of generating something like

[code]

the following is needed

[code]

in cases that return the odata context.

[2021-08-12 15:01] Zaid-Ajaj commented on #21
I actually don't mind the solution with the `[<JsonProperty>]` it's just that it didn't work for me when I tested it 😢 do you have a working test with it?

[2021-08-12 15:08] travis-leith commented on #21
I do have a working test with it. Note that it doesn't work with ` ``@odata.type`` `, I could only get it to work with an 'allowed' F# name.

[2021-08-12 16:07] #21 closed

[2021-08-12 16:07] #22 closed

[2021-08-12 16:10] Zaid-Ajaj commented on #21
Thanks a lot for helping me with the testing! First I tried using `JsonProperty` with property name called `@odata.type` but it didn't work so I discounted the idea of using `JsonProperty` with another property name. Now it should work though as of v0.48 🚀 this time we got it for sure 🤞 🤞

[2021-08-12 16:11] Zaid-Ajaj commented on #22
Fixed as of v0.48 🚀

I think it is a good default. Will add an option for it if someone needs it

[2021-08-12 16:47] travis-leith commented on #21
Looks good!

[2021-08-12 16:57] Zaid-Ajaj commented on #23
Can you please elaborate? The payloads of the responses are derived from the schema so if `value` is expected there, it should be included already. Is that not the case? As of `odata.context`, if this is only for response payloads and we don't include it in the type, it won't affect deserialization I believe.

If you have a test schema, specific operation and types that I can look into, that would

[2021-08-12 18:25] travis-leith commented on #23
schema: "https://selectapi.datascope.refinitiv.com/RestApi/v1/Authentication/$metadata"

snippet of spec:

[code]
I think what is happening is that in cases of primitive return values, it wraps the result in the above mentioned type so that it can include the context. I have now also encountered a non primitive return type that des no such wrapping and the context is included as an additional fiel

[2021-08-12 21:45] travis-leith opened #24 "Any way to incorporate binary streams?"
I am dealing with a response spec like this

[code]
The return data can be very large, far larger than can fit into memory.
In this case, I have no choice but to consume it as a stream.

For content type `application/octet-stream` would you consider returning as a stream?

[2021-08-13 09:27] Zaid-Ajaj commented on #23
Fixed as of v0.49 🚀 I am following your lead and wrapping _only_ primitive responses (string, bool, numbers, guids etc.) with a `ODataContext<'TValue>` type for deserialization. Please give it a try and let me know if we are doing this right 😄

[2021-08-13 12:34] travis-leith commented on #23
Looks good for primitive types, but I think it is also required for lists of anything, since the same principle applies: the response needs to have a place at the top level to indicate the odata.context.

For example, the following comes back wrapped similarly

[code]

[2021-08-13 13:11] #23 closed

[2021-08-13 14:31] Zaid-Ajaj commented on #23
Fixed as of v0.51 now it also wraps arrays of things 😄

[2021-08-15 21:33] Numpsy opened #25 "Support for TimeSpan types in responses?"
Hi,

A question\request about possible support for TimeSpan types in generated F# clients.

Say that you have an ASP.Net Core API that returns an object with properties of type System.TimeSpan (e.g. https://github.com/Numpsy/OpenApiExample/blob/timespans/Common/SpecTestController.cs), using NewtonSoft.Json as a serializer, and you use NSwag to generate a schema for the server.

That will generate

[2021-08-15 21:40] Numpsy commented on #25
On a related note, at least some versions of the NSwag schema generator will generate a schema that specifies a type of 'string' for such properties when the server is set up to use System.Text.Json as the Json serializer, even though its default behavior is to serialize System.TimeSpan to an object - which causes 'fun' with a client that expects to deserialize a string - but that's a seperate iss

[2021-08-15 23:17] Zaid-Ajaj commented on #24
Hi @travis-leith this is an interesting case 🤔 When encountering an `application/octet-stream`, the generator assumes that it is `byte[]` by default.

I can imagine having the knowledge of a couple of endpoints that are known to return a large stream of data, in which case maybe it is an option to tell Hawaii that these endpoints should be returning `Stream` for these endpoints?

We can implement

[2021-08-15 23:30] Zaid-Ajaj commented on #25
Hi @Numpsy I think it is a good idea to add support for `date-span` (swashbuckle) and `time-span` (nswag) and convert them into `TimeSpan` directly. One problem I see here is the Fable serializer doesn't know how to handle the different formats and will require testing.

Speaking of testing, the codebase has become a bit large and I think that before I implement more features, I need to properly d

[2021-09-04 12:59] EHotwagner opened #26 "return values not included"
Using this api https://app.swaggerhub.com/apis/ctot-nondef/OpenAtlas/0.2-develop the generated types of the resolved json api are looking like this:

[code]
and are missing the actual content. The client method is consequently also not returning it:

[code]

[2021-09-04 14:15] #26 closed

[2021-09-04 14:15] Zaid-Ajaj commented on #26
Hi there @EHotwagner thanks for filing the issue. It should be resolved as of Hawaii v0.52 🚀 can you please give it a try?

[2021-09-04 14:39] EHotwagner commented on #26
Types look correct, thx. Now i am getting a json serialization exception: Using dotnet interactive
![image](https://user-images.githubusercontent.com/1645484/132098235-1f7a5f46-1d12-4528-89ac-b4e17c57ac24.png)

[2021-09-04 15:36] Zaid-Ajaj commented on #26
@EHotwagner I think the OpenApi schema is incorrect. The JSON error is saying "I am expecting an object but I got an array", the schema says the return type is an object of type `ClassMappingModel`:
[code]
but if the service returns an array of `ClassMappingModel` then the schema should be
[code]
you can use `overrideSchema` option to "correct" the types from the schema

[2021-09-04 16:03] EHotwagner commented on #26
Thanks a lot. Was in a hurry and couldnt investigate further. Have a nice weekend.

[2021-09-04 16:10] Zaid-Ajaj commented on #26
No worries! Have a nice weekend

[2021-10-28 14:21] yodiz opened #27 "Urls containing [ and ] generates code that does not compile"
If the URL contains [ ] the types name will contain it as well and generate compilation errors.

According to https://fsharp.org/specs/language-spec/4.0/FSharpSpec-4.0-latest.pdf in section "3.4 Identifiers and Keywords"

_Note that when an identifier is used for the name of a types, union type case, module, or namespace, the following characters are not allowed even inside double-backtick marks:

[2021-10-28 16:13] #27 closed, assigned to nobody

[2021-11-01 08:57] yodiz commented on #27
Hi and thanks,

Maybee my manufactured test-file wasn't that great.

Your change removes [, but still leaves ] in the typenames :)

in cleanOperationName:
[code]

Only one of the replacement will occour as i understand the code correctly.

Maybee replace with something like this?:
[code]

[2021-11-01 09:51] Zaid-Ajaj commented on #27
Thanks @yodiz for the _proper_ fix, I should've tested it better. I implemented your proposal and it should be part of Hawaii v0.54, can you please give it another try?

[2021-11-01 10:12] yodiz commented on #27
Seams to work perfectly now :) Thanks!

[2021-11-01 10:26] Zaid-Ajaj commented on #27
Awesome! thanks for confirming 🙏

[2021-11-09 09:50] shazmodan opened #28 "API:s requiring credentials fail"
I have an API that requires a credentials cookie.

So when the OpenApiHttp.fs does this:

[code]

It doesn't include the credentials needed.
Maybe it can be fixed using Fable.SimpleHttp.Http.withCredentials? Like this:

[code]

[2021-11-09 10:15] Zaid-Ajaj commented on #28
Hi @shazmodan, before I apply this fix, can you confirm that it actually works? You can edit the generated code and see if the error goes away

[2021-11-09 13:17] shazmodan commented on #28
@Zaid-Ajaj I edited it manually and it solved my problem. There are however two functions affected as far as I know.

[code]

[2021-11-09 13:27] #28 closed

[2021-11-09 13:28] Zaid-Ajaj commented on #28
Thanks for checking 🙏 applied this change and published it as of Hawaii v0.55 🚀

[2021-12-22 09:55] jkone27 opened #29 "Add capability to also generate Openapi spec file from F# project?"
https://khalidabuhakmeh.com/generate-aspnet-core-openapi-spec-at-build-time

it would be nice if hawaii also allowed for openapi spec generation in yaml or json format,

as currently swashbuckle doesnt work for functional aspnetcore frameworks (Giraffe/Falco/Saturn etc..).

So could be really useful but I understand is something completely different and maybe this project is not the right place?

[2021-12-22 11:31] Zaid-Ajaj commented on #29
Hi @jkone27,

I am aware of this pain point in F# web frameworks but I am afraid Hawaii isn't the place to implement such feature. Hawaii is only concerned with generating clients for any OpenApi specification, regardless of the backend exposing those specifications. This is already quite the challenge so I don't think Hawaii will tackle such problem any time soon :/

[2021-12-23 08:08] #29 closed

[2021-12-23 12:16] jkone27 commented on #29
this project was really good but for some reasons has been archived...
https://github.com/akhansari/FSharp.OpenApi

[2021-12-29 09:16] sergey-tihon opened #30 "System.NullReferenceException on Homebridge schema"
Just tried Hawaii `0.55.0` on [Homebridge OpenApi schema](https://gist.github.com/sergey-tihon/71f8f9cdcfd3d21cd9e2931b8ff73055) with `hawaii.config`
[code]

and it failed with NRE
[code]

Would be nice to provide more details about the issue if schema is in unexpected format.

[2022-01-01 01:25] #30 closed

[2022-01-01 02:05] Zaid-Ajaj commented on #30
Hi @sergey-tihon, thanks for filing the issue. Just published v0.57 of Hawaii and it should now generate a client successfully. The problem is, looking at the the schema, it seems to be missing a lot of return types for the available operations:
[code]
Consider [overriding the schema](https://github.com/Zaid-Ajaj/Hawaii#advanced---overriding-the-schema) in the config with additional types in the s

[2022-01-01 10:20] sergey-tihon commented on #30
Thank you @Zaid-Ajaj for such quick fix!
I did not expect almost midnight Jan 1 release. Happy New Year!

[2022-01-01 10:30] sergey-tihon commented on #30
One more strange thing, code generated by Hawaii does not compile by default
![image](https://user-images.githubusercontent.com/1197905/147848569-f01da9c2-b596-41ab-b1b8-cb9599f83a17.png)

Looks like the issues is in `.`(dot) inside the name.
Here is the link to [Fable REPL](https://fable.io/repl/#?code=C4TwDgpgBABjASB7AthARgJwJYBMDmEAdAIIAKAkgMIA2WEAdsHABQCuG1AXFAM7Db08AGigALCAEMcEDD258BeKLT4BKKA

[2022-02-15 14:11] MichaelMay81 opened #31 "Paths level Parameters are ignored"
I have to parse a json which has parameters on Path level.

I did a quick fix by extending ```operationParameters``` and calling it in ```createOpenApiClient``` like this:
[code]
pathInfo.Parameters are concated with the operation.Parameters. I haven't checked yet if that does the overriding like specified in the OpenAPI documentation.

Does that sound like a valid PullRequest, or am I missing som

[2022-02-15 14:28] Zaid-Ajaj commented on #31
Hi @MichaelMay81 can you please elaborate? I will need an example schema, what Hawaii generates and what it should have generated to get a better picture of the issue

[2022-02-15 15:32] MichaelMay81 commented on #31
[code]
generates:
```member this.GetTrees(?name: string, ?description: string)```
but should generate:
```member this.GetTrees(repository: string, ?name: string, ?description: string)```

[2022-02-15 17:34] Zaid-Ajaj commented on #31
Thanks for the clarification @MichaelMay81, I see the problem now. The parameters should be indeed merged as you suggested. If you want to give a try and send a PR, would really appreciate it 🙏

[2022-03-04 16:58] MichaelMay81 opened #32 "uuid response type as string and not converted to Guid"
Return type with payload of type System.Guid is created, but the client tries to create the return type with the string content directly instead of creating a System.Guid first.

Example:
- specification.json
[code]
- Types.fs
[code]
- Client.fs
[code]
```return PostAuthorizationRepository.Created content``` gives an error and should be ```return PostAuthorizationRepository.Created (System.Guid co

[2022-03-04 17:01] MichaelMay81 commented on #32
Handling the case of ```Schema.Format = "uuid"``` in createOutput seems to fix the problem.
Maybe it should also handle ```Schema.Format = "guid"```?

[2022-03-04 19:32] MichaelMay81 commented on #31
Made a quick and dirty fix by adding a parameter for ```pathInfo.Parameters``` to ```operationParameters```, but would rather do an overhaul of that function.
I am thinking of following points:
- Remove ```visitedTypes``` because it is not used
- Split function ```operationParameters``` into smaller functions, e.g., ```processOperationParameters``` and ```processOperationRequestBody```
- Swap out

[2022-03-04 21:23] Zaid-Ajaj commented on #31
I like the proposal @MichaelMay81 💯 sounds like a good plan

[2022-03-04 21:25] Zaid-Ajaj commented on #32
Nice catch! Yeah this should be the solution indeed, any chance you could spend a PR for it? 🙏

[2022-03-07 09:26] #32 closed

[2022-03-09 08:36] Zaid-Ajaj commented on #31
Resolved by #34

[2022-03-09 08:36] #31 closed

[2022-03-18 21:50] MichaelMay81 opened #35 "Header Parameter"
I have a range paramter that belongs in the Header.
Hawaii recognizes that and creates:
[code]
but in sendAsync only the parameter extraHeaders is used for Headers.
So ranges work if I define them as part headers in the class instance of my client, but not as part of my json attributes.

Suggested solution:
Filter Header definitions from parts in sendAsync and merge them with extraHeaders.

[2022-03-19 22:07] Zaid-Ajaj commented on #35
Thanks @MichaelMay81 for opening the issue! I am a bit low on time these days to debug and fix these types of issues. Any chance you could send a PR for it? I will find time tho to review, merge and publish 😉

[2022-03-21 20:28] MichaelMay81 commented on #35
Just trying to get my problem and planned solution to you early, so I am not working on a useless pull request :)
But it is done now. Tell me if it is useful :)
PullRequest #36

[2022-03-23 09:19] Zaid-Ajaj commented on #35
Resolved as of v0.60 🚀

[2022-03-23 09:19] #35 closed

[2022-03-29 13:14] michael8bit opened #37 "Response Header Parameter"
Hello, I would like to implement a post api that returns a custom header param in the header.
I have seen that the sendAsync function returns the response text and status code.

    let sendAsync (method: HttpMethod) (basePath: string) (path: string) (extraHeaders: Header list) (parts: RequestPart list) : Async<int * string> =
        async {
            let requestPath = applyPathParts path parts

[2022-03-29 13:52] Zaid-Ajaj commented on #37
Hi @michael8bit, unfortunately response headers are not part of the output. The library would have to be extended in order to support response headers.

[2022-06-01 15:50] abelbraaksma opened #38 "Hawaii throws: Unhandled exception. Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: D. Path '', line 0, position 0."
Hi @Zaid-Ajaj, I was trying out this awesome project to create a client for Stripe (using this: https://github.com/stripe/openapi/blob/master/openapi/spec3.yaml), which has an OpenApi spec in JSON and YAML. However, either way I try it, `hawaii` crashes with the following exception:

[code]

This exception appears to incorrectly render the path/file name that causes the error, and "line 0, pos 0"

[2022-06-01 16:00] Zaid-Ajaj commented on #38
HI @abelbraaksma thanks for filing the issue, not being able to parse the JSON suggests that the JSON is malformed which you can get if you are not referencing the RAW file contents from github when pointing the schema configuration at it

I will have a look when I can, right now only with access to my phone

[2022-06-03 11:29] Zaid-Ajaj commented on #38
Hi @abelbraaksma, thanks again for digging into this 🙏 I understand the problem here it seems that Hawaii is not adequate enough to account for Stripe API at the moment. Requiring an `object` to be spread inside the query string parameters is always tricky, especially because infinite nesting is possible and we don't generate a specific type for the input (I think we should generate an object here

[2022-06-28 06:59] christoph-feb22 opened #39 "Generation of nullable required property"
Hi Zaid,

I have an API definition which contains a model with an required property with the datatype nullable string.
Hawaii generates the type as string. I expect it to be a string option.

[https://github.com/Zaid-Ajaj/Hawaii/blob/9b117d2b31ac95ac41210013ce7fdde938111c62/src/OperationParameters.fs#L138](https://github.com/Zaid-Ajaj/Hawaii/blob/9b117d2b31ac95ac41210013ce7fdde938111c62/src/Operat

[2022-08-19 01:53] francotiveron opened #40 "Improper management of connection errors"
this is one of the get calls coded by the generator

[code]

If the call fails (for example because of network disconnection), getAsync doesn't throw. The returned status is 0 and the content is empty "".  Then the code attempts to deserialize "" and obviously fails with a serialization exception. The point is, there is no way for the user to distinguish genuine json problems from network connecti

[2022-08-19 10:35] Zaid-Ajaj commented on #40
Hi there @francotiveron, thanks for filing the issue. Currently, there isn't a way to tell that there was a connection error. I believe this is only the Fable side of things.

One way we could fix this is by adding a `NetworkError` union case to all response types and returning that when the status code is 0
[code]
or another way is to raise an exception instead
[code]
What do you think?

[2022-08-19 21:42] francotiveron commented on #40
Hi @Zaid-Ajaj  and thank you for your prompt answer
Of the two solutions you propose I prefer the second, as this is a 'non expected' scenario.

As a couple of personal notes:
- If it is not too much of a trouble, I would create a specific exception type, like NetworkError, instead of simply throwing an Exception
- IMHO this kind of exception should be thrown earlier in SimpleHttp.send function by

[2022-09-17 10:49] xperiandri opened #41 "Use Templatus for F# code generation"
https://github.com/kerams/Templatus

[2022-10-01 08:52] francotiveron commented on #40
Any progress on this?

[2022-11-29 09:47] petrkoutnycz opened #42 "Throws StackOverflowException"
Hi, I was trying to generate a client for Mews API and it fails when generating properties.

Swagger: https://api.mews.com/Swagger/connector/swagger.yaml

[2022-11-29 11:01] Zaid-Ajaj commented on #42
Hi there @petrkoutnycz, I will have a look! It could be due to recursive definitions in the schema. Will let you know how it goes

[2022-11-29 21:34] abelbraaksma commented on #41
It looks like Templatus is not under active development atm. Maybe we can revive that, or ask @kerams, who maintains that repo.

[2022-11-29 21:45] kerams commented on #41
Yeah, it was mostly just a toy and is not .NET Core compatible at its current state. Shouldn't be too hard to migrate and convert it to a proper tool, but I doubt there is interest as better options are available.

[2022-11-29 22:10] xperiandri commented on #41
I just thought about moving from hard-coded F# generation to some more manageable and maintainable

[2022-11-30 23:21] abelbraaksma commented on #41
Perhaps Myriad? I vaguely remember other code generators, not sure if they can easily be plugged in though. It's probably gonna be quite a massive change.